@import './main';
@import './variable';
@import './buttons';

.wrapper {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.fon {
    width: 100%;
    position: absolute;
    top: 1.1rem;
    left: 0;
    background: $color-top;
    height: 70px;
}

.header {

    &__sutotle {
        max-width: 100%;
        background: $color-sub;
        color: $color-title;
        text-align: center;
        font-size: 13px;   
    }

    &__top {
        @extend  %contenr;
        @extend %centr;
    }
}

.logo {
    @extend %centr;

    img {
        margin-right: 0.5rem;
    }
   
}
.form {
    width: 40%;
    position: relative;
    z-index: 2;
    
    .input{
        width: 100%;
        border: 1px solid  rgba(102, 99, 99, 1);
        border-radius: 15px;
        height: 32px;
        padding-left: 50px;
        background:white url('../img/icons/search.svg')left 1rem center no-repeat;
    }
}

.things {
    @extend %centr;
    position: relative;

    .language {
        @extend %centr;
        margin-right: 1.5rem;

        span {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }

    .account {
        margin-right: 2rem;
        position: relative;

        &::after {
            content:'';
            width: 8px;
            height: 5px;
            display: inline-block;
            background:url('../img/icons/VectorG\).svg')no-repeat;
            position: absolute;
            top: 5px;
            right: -13px;
        }
    }
    .usd {
        margin-right: 2rem;
        position: relative;

        &::after {
            content:'';
            width: 8px;
            height: 5px;
            display: inline-block;
            background:url('../img/icons/VectorG\).svg')no-repeat;
            position: absolute;
            top: 5px;
            right: -13px;
        }
    }
    .basket {
        background: url(../img/icons/three.svg) top right  no-repeat;
        padding-right: 14px;
        

    }
}

.nav {
    @extend %contenr;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    
   &__lists {
    min-height: 3rem;
    display: flex;
    align-items: center;
    }

    &__list {
        margin-right:4rem;

        &:first-child {
            margin-right: 1.5rem;
        }    
    }


    &__link {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
    }

    &__active {
        color: white;
        padding:  9px 19px;
        font-size: 16px;
        font-weight: 600;
        margin-right: 0;

        &::before {
            content:'';
            display: inline-block;
            width: 13px;
            height: 10px;
            background: url('../img/icons/Frame.14.svg') 0 0 no-repeat;
            margin-right: 10px;
        }   
    }

    &__red {
        color: red;
    }
}

.banner {
    background: url('../img/st_banner\ 1.jpg')top center / cover no-repeat;
    padding: 14rem 0 13rem 10rem;

    &__title {
        color: $color-title;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 1rem;
        position: relative;

        &::before {
            content:"";
            display: inline-block;
            width: 18px;
            height: 28px;
            background: url('../img/icons/стрелка\ влево.svg') no-repeat;
            position: absolute;
            top: 2rem;
            left: -8rem;
        }

        &::after {
            content:"";
            display: inline-block;
            width: 18px;
            height: 28px;
            background: url('../img/icons/стрелка\ вправо.svg') no-repeat;
            position: absolute;
            top: 2rem;
            right:2rem;
        }
    }

    &__sabtitle {
        color: rgba(0, 0, 0, 1) ;
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 700;
    }

    &__button {
        color: rgba(7, 114, 191, 1);
        font-size: 16px;
        font-weight: 600;
        padding: 0.5rem 3rem;
    }
}


.page {
    @extend %contenr;

    &__subtitle {
        margin-top:1.5rem;
        font-size: 16px;
        color: rgba(0, 0, 0, 1);

        span {
            color: #5E5C5C;
        }
    }

    &__title {
        margin-top:1rem;
        margin-bottom: 6px;
        color: rgba(0, 0, 0, 1);
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 0.5rem;
    }
}

.shop {
    margin-bottom: 1.2rem;
    &__row {
        display: flex;
        justify-content:space-between;
        border-bottom: 1px solid rgba(191, 190, 190, 1);
        padding-bottom: 2.5rem;
    }
}

.sideCheckbox {
    width: 25%;
}

.cattegories {
    max-width: 90%;
    border-bottom:1px solid  rgba(191, 190, 190, 1);
    margin-bottom: 1rem;
   
    &__title {
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        position: relative;
        margin-bottom: 1.5rem;

        &::after {
            content:'';
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url('../img/icons/Right\ Icon.svg') no-repeat;
            position: absolute;
            top: 0;
            right: -0.7rem;
        }
    }

    .title-input {
        margin-bottom: 0.5rem;
    }

    &__choice {
        color:rgba(94, 92, 92, 0.7);
        font-size: 16px;
        margin-bottom: 0.7rem;
        
        &:last-child {
            color: rgba(0, 0, 0, 1);
        }
    }
}

.label {
    display: block;
    margin-bottom: 0.5rem; 
    color:rgba(94, 92, 92, 0.7);
}

.profile {
    max-width: 90%;
    border-bottom:1px solid  rgba(191, 190, 190, 1);
    padding-bottom: 1.5rem;
    
    &__select {
        border: none;
        outline: none;
        float:right;
        margin-right: -0.7rem;;
        color:rgba(94, 92, 92, 1);
    }
}

.flex {
    max-width: 90%;
    padding-top: 1rem;
    
    &__select {
        border: none;
        outline: none;
        float:right;
        margin-right: -0.7rem;;
        color:rgba(94, 92, 92, 1);
    }
}

.sideProduct {
    width: 75%;

    &__filter {
        display: flex;
        align-items: center;
        margin-top: -0.5rem;
        margin-bottom: 1.5rem;
    }

    &__find {
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        margin-right: 17.5rem;
    }

    &__view {
        color: rgba(191, 190, 190, 1);
        border: 1px solid rgba(191, 190, 190, 1);
        border-radius: 4px;
        padding: 9px 0 6px 9px;
        position: relative;
        margin-right: 4rem;

        span {
            color: rgba(0, 0, 0, 1);
            display: inline-block;
            padding: 0 3rem 0 1.5rem;
          
            &::after {
                content:'';
                display: inline-block;
                background: url('../img/icons/Right\ Iconrp.svg') no-repeat;
                width: 22px;
                height: 31px;
                position: absolute;
                top: 0;
                right: 0;             
            }
        }    
    }

    &__sort {
        color: rgba(191, 190, 190, 1);
        border: 1px solid rgba(191, 190, 190, 1);
        border-radius: 4px;
        padding: 9px 0 6px 9px;
        position: relative;

        span {
            color: rgba(0, 0, 0, 1);
            display: inline-block;
            padding: 0 3rem 0 1.5rem;
           
            &::after {
                content:'';
                display: inline-block;
                background: url('../img/icons/Right\ Iconrp.svg') no-repeat;
                width: 22px;
                height: 31px;
                position: absolute;
                top: 0;
                right: 0;             
            }
        }
    }
}

.products {

    &__product {
        width: 30%;
        min-height: 400px;
        display: inline-block;
        overflow: auto;
    }

    .product {
    
        &__img {
            text-align: center;
            margin-bottom: 1rem;
        }
        
        &__description {
            color: rgba(0, 0, 0, 1);
            font-size: 14px;
            padding: 0 2rem;
            margin-bottom: 0.5rem;
            
            span {
                font-weight: 700;
            }
        }

        &__price-and-rating {
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;

            .price {
                font-weight: 700;
            }

            .red {
                color: red;

                span {
                    color: rgba(102, 99, 99, 1);
                    text-decoration: line-through;
                    margin-left: 1.1rem;
                }
            }
        }  

        .button { 
           text-align: center;

            a {
                color: $color-title;
                padding: 0.8rem 1.5rem;
                font-size: 12px;
                font-weight: 700;
                margin-top: 1.3rem;
            }
        }
    }

    .nature {
        &__img {

            img {
             width: 100%;
             margin-bottom: 0.5rem;
            }  
        }
        
        &__description {
            text-align: center;
            font-weight: 700;
           
            .title {
               margin-bottom: 0.2rem;
               font-size: 24px;
            }

            .subtitle {
                font-size: 16px;
                margin-bottom: 1.2rem;
            }

            .link {
                font-weight: 400;
                color: rgba(0, 0, 0, 1);
                text-decoration: underline;
            }
        }
    }
}

.pages {
    text-align: center;
    color: rgba(94, 92, 92, 1);
    margin-top: 50px;
   

    &__label {
        margin-right: 0.3rem;
    }

    &__select {
       padding:  0.2rem 0.5rem  0.2rem 1rem;
    }

    &__option {
        color: rgba(0, 0, 0, 1);
    }

    span {
        display: inline-block;
        margin-left: 0.3rem;
    }
}

.sellers {
    
    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 2rem;
    }

    &__row {
        @extend %centr;
    }
}

.seller {
    min-width: 22%;
    min-height: 272px;
    border: 1px solid #BFBEBE;
    padding-left: 1rem;
    color: rgba(0, 0, 0, 1);
    position: relative;

    &:first-child::before {
        content:'';
        display: inline-block;
        width: 18px;
        height: 32px;
        background: url('../img/icons/стрелка\ влево.svg') no-repeat;
        position: absolute;
        top: 50%;
        left: -3rem;
        transform: translateY(-50%);
    }

    &:last-child::after {
        content:'';
        display: inline-block;
        width: 18px;
        height: 32px;
        background: url('../img/icons/стрелка\ вправо.svg') no-repeat;
        position: absolute;
        top: 50%;
        right: -3rem;
        transform: translateY(-50%);
    }

    &__img {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
    }

    &__description {
        min-height: 2.5rem;
        font-size: 16px;
       
        span {
            display: block;
            margin-bottom: 0.2rem;
        }
    }

    &__price {
        font-weight: 700;
        padding-bottom: 0.8rem;
    }
}


.support {
    margin: 4rem 0 1rem 0;
    @extend %centr;

    &__help {
        width: 50%;
        background:#F3F3F3;  
        min-height: 12rem;
        margin-right: 1rem;
    }

    .help {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-weight: 700;
            margin-bottom: 0.8rem;
        }

        &__subtitle {
            margin-bottom: 0.8rem;
        }

        &__button {
            font-weight: 700;
            margin-bottom: 0.8rem;
            padding: 0.6rem 2rem;
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
        }

        &__number {
            font-weight: 700;
            color: rgba(0, 0, 0, 1) ;
        }
    }
    
    &__info {
        width: 50%;
        background:#F3F3F3;    
        min-height: 12rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__title {
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &__subtitle {
            margin-bottom: 0.4rem;
        }

        &__email {
            font-size: 12px;
            width: 50%;
            margin-bottom: 0.2rem;
        }

        &__form {
            width: 50%;
            display: flex;
          
            .input {
                width: 70%;
                border: 1px solid #BFBEBE;
                border-right: none;
                border-radius: 5px 0 0 5px;
                min-height: 2.2rem;
                outline: none;
            }

            .submit {
                width: 35%;
                font-size: 16px;
                border: none;
                border-radius:0  5px 5px 0;
                margin-left: -4px;
                min-height: 2.2rem;
                font-weight: 700;

                a {
                    color: rgba(255, 255, 255, 1); 
                }
            }
        }
    } 
}






.footer {
    margin-bottom: 4rem;

    &__navigation {
        background:#F3F3F3;
        margin-bottom: 5rem;
    }

    .navigation {
        
        &__lists {
            width: 75%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            min-height: 2.5rem;
        }
        
        &__link {
            color:rgba(0, 0, 0, 1);
        }
    }

    .footer__info {
        @extend %contenr;
        display: flex;
        justify-content: space-between;

        .about {
            width: 50%;
            display: flex;
            justify-content: space-around;
        
            .column {

                &:last-child {
                    margin-left: -5rem;
                }

                &__list {
                    margin-bottom: 0.4rem;
                    font-size: 12px;

                    &:first-child {
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .communication {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: gba(0, 0, 0, 1);
            padding-left: 5rem;

        .block {
            width: 42%;
        }

            &__icons {
                margin-bottom: 1.5rem;

                img {
                    margin-right: 1rem;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &__download {
                font-size: 12px;
                margin-bottom: 0.9rem;
                color: rgba(0, 0, 0, 1);
                font-weight: 700;
            }

            &__market {
                margin-bottom: 0.6rem;
            }

            &__logo {
                display: flex;
                align-items: center;
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 0.4rem;
                margin-left: -1.5rem;

                img {
                    margin-right: 0.4rem;
                }
            }

            &__copy {
                font-size: 12px;
                color:rgba(0, 0, 0, 1);  
            }
        }
    }
}








